@import "./preflight.css";
@import "./radio.css";
@import "./modalContainer.css";

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

:root {
  /* Основные */
  --main-color: #ffffff;
  --main-background-color: #868AE0;
  --dark-main: #2d145d;
  --dark-color: #362477;
  --sub-color: #5845a7;
  --main-border: 1px solid #ffffff;
  --drop-border: 5px solid #ff0000;
  --main-box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.45);
  --main-transition: all 0.3s;
  /* Типографика */
  --main-font-family: 'Open Sans',ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font: var(--main-font-family);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  font-family: var(--main-font-family);
  background-color: #F2F2F2;
  margin: 0;
  line-height: inherit;
  min-height: 100vh;
  z-index: 1;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 1000px;
  width: 100%;
  height: 1100px;
  transform: translate(-50%, -50%);
  box-shadow: var(--main-box-shadow);
  background-color: var(--dark-main);
  color: var(--main-color);
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  border-radius: 30px;
  scroll-behavior: auto;
  overflow: auto;
}

.header {
  font-weight: 800;
  font-size: 64px;
  line-height: 96px;
  background-color: var(--main-color);
  color: var(--dark-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons__container {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.main__button {
  border: 1px solid #ffffff;
  border-radius: 24px;
  padding: 12px 16px;
  transition: var(--main-transition);
}

.main__button:hover {
  border: 1px solid var(--dark-main);
  background-color: #ffffff;
  color: var(--dark-main);
}

.main__button--submit {
  width: fit-content;
}

.main__formula {
  display: flex;
  justify-content: center;
}

.submit__container {
  display: flex;
  justify-content: center;
}

.main__container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__description__title {
  text-align: center;
  padding-bottom: 16px;
}

.backstep__button {
  width: fit-content;
  border-bottom: 1px solid transparent;
  transition: var(--main-transition);
}

.backstep__button:hover {
  border-bottom: 1px solid #ffffff;
}

.main__title {
  font-weight: 400;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label__text {
  max-width: 65%;
}

.input__container {
  border: 3px solid transparent;
  color: #000000;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 8px 15px;
  margin-left: 16px;
  width: 300px;
  font-size: 18px;
}

.input__container::placeholder {
  opacity: 0.4;
  font-size: 14px;
}

.input__container[aria-invalid=true] {
  border: 3px solid red;
}

.modal__children__container {
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__children__items[aria-invalid=true] {
  padding-left: 0px;
  color: #ff0000;
}

.label__error {
  display: flex;
  justify-content: flex-end;
  color: #ff0000;
  font-size: 16px;
}

.modal__children__items__container--c {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr 1.7fr 1.7fr;;
}

.modal__children__items__container--default {
  display: flex;
  gap: 24px;
}

.modal__children__items__container--b {
  display: grid;
  grid-template-columns: 0.3fr 2fr
}


@media (max-width: 1001px) {
  .container {
    position: static;
    transform: none;
    border-radius: 0;
  }

  .header {
    font-size: 32px
  }

  .main__container > p {
    font-size: 20px;
  }

  .form__radio__group {
    flex-direction: column;
  }

  .form__radio__group-item {
    padding-top: 10px;
  }

  .form__radio__group-item:first-child {
    padding-top: 0;
  }

  .main__title {
    font-size: 20px;
  }

  .label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .label__text {
    font-size: 18px;
    max-width: 100%
  }

  .input__container {
    margin-left: 0;
    width: 270px;
  }

  .modal__children__items__container--b {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
    font-size: 18px;
  }

  .modal__children__items__container--c {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
    font-size: 16px;
  }

  .modal__children__items__container--default {
    display: flex;
    flex-direction: column;
  }

  .modal__children__items__container--default > span:nth-child(3n+3) {
    display: none;
  }
}